#homepage-heading {
  font-family: cursive; 
  font-family: palatino;
  text-transform: capitalize;
}

h3 {
	font-weight: normal;
}

ul li{
  font-family: palatino;
  font-weight: bolder;
  font-size: 20px;
  color: maroon
}

a {
  background-color: maroon;
  color: white;
  padding: 0.18em 0.45em;
  text-decoration: none;
}

#coffeeshop-title {
  margin-top: 30px;
  margin-bottom: 5px;
}

#paragraph{
  margin-top: 10px;
}

#bb {
  margin-top: 30px;
  margin-bottom: 5px;"
}

.imagebb {
  width:400px;
  height:300px;
}

.imagebj {
  width:400px;
  height:295px;
}

.imagelpq {
  width:400px;
  height:280px;
}

#php-title {
  color: maroon;
  font-family: palatino;
}

#email-form {
  font-size: 15px;
}
